<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sorteo</title>
  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      
      th {
          background-color: lightgray;
      }
  </style>
</head>
<body>
<a href="/sorteo/crear">Crear boleta</a>
<table style="width: 100%">
  <thead>
  <tr>
    <th>Sorteo</th>
    <th>Fecha</th>
    <th>Boletas</th>
    <th>Numeros</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="sorteo: ${sorteos}">
    <td th:text="${sorteo.getNombre()}"></td>
    <td th:text="${sorteo.getFecha()}"></td>
    <td th:text="${sorteo.getBoletas()}"></td>
    <td th:text="${sorteo.getNumeros()}"></td>
    <td>
      <a >
        Generar
      </a>
      <a th:href="@{/sorteo/registrar/{id}(id=${sorteo.id})}">
        Registrar
      </a>
      <a href="#">
        Sortear
      </a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>